{% extends "layout.html" %}
{% block title %}About Us | Fed Rate Watch{% endblock %}
{% block content %}

<h1>About us</h1>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5 class="card-title">Nura Henok</h5>
        <p class="card-text">
          Hello! My name is Nura Henok, and I am an Economics and Mathematics student at Georgetown University.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5 class="card-title">Jack Parsons</h5>
        <p class="card-text">
          Hi! My name is Jack, and I am a Finance and Mathematics student at Georgetown University.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
